<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel='false'>


	<parameter name="browser" value="Chorme" />
	<parameter name="appURL" value="https://www.google.com" />
	<parameter name="OS" value="Windows" />




	<listeners>
		<listener class-name="testBase.CustomListeners" />

	</listeners>

	<test name="Test" preserve-order="true">
		<classes>
			<class name="testcase.SeleniumTest"/>
			

		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
